{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div  data-role="header"><h1>Our Site Simply Rocks!</h1></div>

<div align="center" data-role="content" data-theme="c" ><p>
Tired of running around in the HOT SUN ?</br>Say Bye-bye to all that hustle: BUY your ticket while in BED!!!</br>
<a href="baseApp" rel="external">Check it out!</a>
</p></div>

<div align="center" data-role="content" data-theme="c" ><p>
Have an event coming up soon ? Need to advertise ?</br>Don't stress yourself.</br>Create and Sell YOUR very Own event tickets
<a href="baseApp/addEvent" rel="external">here!</a>
</p></div>

<div align="center" data-role="content" data-theme="c" ><p>
We have some mind-blowing apps coming out soon. Don't miss out!</br>
<a href="aboutus" rel="external">Powered by Synapis Technologies</a></p></div>

{% endblock %}
